@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: Poppins;
}

@layer components {
    .Button1{
      @apply border-2 border-[#3080ED] mx-2 py-1 px-9 rounded-lg text-blue-500 text-lg font-semibold hover:bg-[#3080ED] hover:text-white cursor-pointer
    }
    .Button2{
      @apply border-2 bg-[#3080ED] border-transparent mx-2 py-1 px-9 rounded-lg text-white text-lg font-semibold hover:bg-[white] hover:text-[#3080ED] hover:border-[#3080ED] cursor-pointer
    }
    .Button3{
      @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40
  }
  .search{
  @apply outline-none bg-[#F1F5FF] rounded-sm border-b px-4 py-2 border-transparent transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40
  }
  .classOn{
    @apply absolute top-16 right-36 
  }
  .classoff{
    @apply hidden top-16 right-36 
  }
  .off{
    @apply hidden
  }
  .on{
    @apply block mb-2
  }
}
